:root {
    --bg: #DFD7BF;
    --card_title_bg: #79155B;
    --graph_bg: #F5F5DC;
    --text: #FCF5ED;
    --border: rgb(0, 0, 0);
    --shadow: rgb(0, 0, 0);
    --title_bottom: #DFD7BF;
    --color1: #1F1717;
    --color2: #CE5A67;
    --color3: #F4BF96;
}

body {
    background-color: var(--bg);
    font-family: 'Custome';
}

.side-by-side {
    display: grid;
    grid-template-columns: auto auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-decoration: none;
    user-select: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: Custome;
    src: url("font/museo700regular.ttf");
}

.card-box,
.card-box2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.card1 {
    grid-column: 1;
    grid-row: 1;
}

.card2 {
    grid-column: 2;
    grid-row: 1;
}

.card3 {
    grid-column: 3;
    grid-row: 1;
}

.card4 {
    grid-column: 1/span 2;
    grid-row: 2;
}

.card5 {
    grid-column: 3;
    grid-row: 2;
}

.card {
    background-color: var(--graph_bg);
    border-radius: 20px;
    height: 50vh;
    margin: 10px;
    text-align: center;
}

.chart-area {
    height: 85%;
    width: 100%;
    padding: 15px;
}

.card6 {
    grid-column: 1;
    grid-row: 1;
}

.card7 {
    grid-column: 2;
    grid-row: 1;
}

.title-chart {
    height: 15%;
    border-bottom: 5px solid var(--title_bottom);
    color: var(--text);
    background-color: var(--card_title_bg);
    padding-top: 13px;
    font-weight: 900;
}

.ongoing {
    width: 100%;
    border-collapse: collapse;
}

.ongoing tr {
    text-align: center;
    height: 50px;
    border-bottom: 2px solid var(--title_bottom);
}

.img {
    width: 50px;
    border-radius: 100%;
    border: 4px solid var(--color2);
    transform: translate(0, 4%);
}

.image {
    width: 50px;
}

.operation1,
.operation2 {
    width: 60px;
}

.title {
    text-wrap: nowrap;
    color: var(--card_title_bg);
    font-size: normal;
}

.sub-title {
    color: var(--color2);
    font-size: small;
}

.hear {
    width: 150px;
    padding-left: 20px;
    padding-right: 20px;
}

.backfill {
    background-color: var(--color2);
    color: var(--text);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-wrap: nowrap;
}

.op {
    background-color: var(--color3);
    text-align: center;
    height: 30px;
    width: 30px;
    transform: translate(50%, 4%);
    border-radius: 5px;
    transition: 0.2s all linear;
}

i {
    color: var(--color1);
    transform: translate(2%, 50%);
}

.sub-table {
    border-collapse: collapse;
    width: 100%;
}

.sub-table tr {
    height: 50px;
    border-bottom: 2px solid var(--title_bottom);
}

.sop {
    background-color: var(--color3);
    text-align: center;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    transition: 0.2s all linear;
}

.sub-operation {
    width: 40px;
}

.radio {
    width: 17px;
    height: 17px;
    appearance: none;
    border-radius: 50%;
    border: 2px solid rgba(121, 21, 91, 0.6);
    transition: 0.2s all linear;
}

/* .sub-table tr:hover .radio {
    border: 6px solid var(--color2);
} */
.radio:checked {
    border: 6px solid var(--color1);
}

.title-chart {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 5;
    background-color: var(--graph_bg);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 900;
    height: 100px;
}

.op:hover,
.sop:hover {
    background-color: var(--color1);
    transition: 0.2s all linear;
    cursor: pointer;
}

.op:hover i,
.sop:hover i {
    color: var(--text);
    transition: 0.2s all linear;
}

.nev {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 7px;
    height: 100%;
    width: 250px;
    background-color: var(--graph_bg);
    text-wrap: nowrap;
}

.nev-sec {
    justify-content: center;
    display: flex;
}

.nev-sec>div {
    margin-left: 5px;
    margin-right: 5px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.logo>img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 3px solid var(--color2);
}

.page-name {
    font-size: 20px;
    font-weight: 900;
    color: var(--color2);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.exception {
    display: grid;
}

.exception>div {
    text-align: center;
}

.dev-img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 4px solid var(--color2);
}

.dev-name {
    font-size: 20px;
    font-weight: 900;
    color: var(--color1);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nev-icon>.i {
    transform: translate(0, 0);
    padding: 8px;
    margin: 9px;
    color: var(--color1);
    background-color: var(--color3);
    border-radius: 20px;
    transition: 0.2s all linear;
}

.nev-icon>.i:hover {
    transition: 0.2s all linear;
    background-color: var(--color2);
    color: var(--text);
    cursor: pointer;
}

.nev-secv>div {
    width: 100%;
    display: flex;
}

.option-icon>.i {
    transform: translate(0, 15%);
}

.div {
    margin-top: 5px;
    justify-content: center;
    font-size: 12px;
    color: var(--color2);
}

.nev-option>div {
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.top-bar {
    width: 100%;
    height: 50px;
}

.nev-btn>i {
    transform: translate(0, 0);
    color: var(--color1);
}

.nev-btn {
    margin: 5px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 12px;
    border-radius: 10px;
    transition: 0.2s all linear;
}

.nev-btn:hover {
    background-color: var(--color2);
    transition: 0.2s all linear;
    cursor: pointer;
}

.nev-btn:hover i {
    color: var(--text);
    transition: 0.2s all linear;
}

.selected,
.selected i {
    background-color: var(--color2);
    color: var(--text);
}

.fixtoolbar {
    z-index: 5;
    position: fixed;
    top: 60%;
    left: 100%;
    background-color: var(--color1);
    border-radius: 10px;
    transform: translate(-120%, 0%);
}

.fixtoolbar>div,
.chat>div {
    height: 30px;
    width: 30px;
    margin: 5px;
    padding: 5px;
    background-color: var(--color3);
    border-radius: 7px;
    transition: 0.2s all linear;
}

.fixtoolbar>div:hover,
.chat>div:hover {
    transform: translate();
    background-color: var(--color2);
    cursor: pointer;
    transition: 0.2s all linear;
}

.fixtoolbar>div:hover i,
.chat>div:hover i {
    color: var(--text);
    transition: 0.2s all linear;
}

.fixtoolbar>div>i {
    color: var(--color1);
    transform: translate(0, 15%);
}

.chat>div>i {
    color: var(--color1);
    transform: translate(2px, 15%);
}

.chat {
    z-index: 5;
    position: fixed;
    top: 100%;
    left: 100%;
    background-color: var(--color1);
    border-radius: 10px;
    transform: translate(-120%, -120%);
}

.scroll-top {
    text-align: center;
    z-index: 5;
    position: fixed;
    top: 100%;
    left: 0;
    transform: translate(0, -120%);
}

.scroll-top>div {
    height: 30px;
    width: 30px;
    margin: 5px;
    background-color: var(--color3);
    border-radius: 7px;
    transition: 0.2s all linear;
}

.scroll-top>div:hover {
    background-color: var(--color2);
    cursor: pointer;
    transition: 0.2s all linear;
}

.scroll-top>div:hover i {
    color: var(--text);
    transition: 0.2s all linear;
}