<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>

<body>
    <form action="/api/cases" method="post" name="cases">
        <input type="text" name="name" placeholder="Client name">
        <input type="text" name="email" placeholder="Client email">
        <input type="text" name="attorney" placeholder="Attorney assigned">
        <input type="text" name="type" placeholder="Case type">
        <select name="status">
            <option value="win">Win</option>
            <option value="lost">Lost</option>
            <option value="declined">Declined</option>
            <option value="ongoing">On going</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>

</html>