<%- include('include/header') %>
    <%- include('include/nev') %>
    <div class="appointments-space">
        <div class="card">
            <div class="card-title">Appointments</div>
            <div class="card-backdrop">
               
            </div>
        </div>
    </div>
    <%- include('include/footer') %>