</div>
</div>
<div class="footer">
    <div class="footer-title">
        <div class="sub-title">MADE BY</div>
        <div class="title">SUJAL PATEL</div>
    </div>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="module" src="../js/script.js"></script>

</html>