<div class="fixed">
    <div class="scroll-top">
        <div class="scroll-top-icon">
            <i class="fa-solid fa-circle-chevron-up"></i>
        </div>
    </div>
    <div class="fixtoolbar">
        <div class="tool-option">
            <i class="fa-solid fa-cart-shopping"></i>
        </div>
        <div class="tool-option">
            <i class="fa-solid fa-address-book"></i>
        </div>
        <div class="tool-option">
            <i class="fa-solid fa-comments"></i>
        </div>
    </div>
    <div class="chat">
        <div class="container">
            <i class="fa-solid fa-comment"></i>
        </div>
    </div>
</div>
<div class="side-by-side">
    <div class="nev-section">
        <div class="nev">
            <div class="nev-sec spacial">
                <div class="logo">
                    <img class="logo-img" src="img/demo-icon.webp">
                </div>
                <div class="web-name">
                    <%= config.website_name %>
                </div>
            </div>
            <div class="nev-sec exception">
                <div class="dev">
                    <img class="dev-img" src="img/images.png" alt="Profile Image">
                </div>
                <div class="dev-name">
                    <%= config.devloper_name %>
                </div>
                <div class="nev-icon">
                    <i class="i fa-solid fa-envelope"></i>
                    <i class="i fa-solid fa-comment"></i>
                    <i class="i fa-solid fa-right-from-bracket signout"></i>
                </div>
            </div>
            <div class="nev-secv">

                <div class="nev-option dashboard">
                    <div class="option-icon"><i class="i fa-solid fa-house"></i></div>
                    <div class="option-title">Dashboard</div>
                </div>
                <div class="nev-option appointments">
                    <div class="option-icon"><i class="i fa-solid fa-calendar-check"></i></div>
                    <div class="option-title">Appointments</div>
                </div>
                <div class="nev-option cases">
                    <div class="option-icon"><i class="i fa-solid fa-folder-open"></i></div>
                    <div class="option-title">Cases</div>
                </div>
                <div class="nev-option attorney">
                    <div class="option-icon"><i class="i fa-solid fa-gavel"></i></div>
                    <div class="option-title">Attorney</div>
                </div>
                <div class="nev-option div">
                    COMPONENTS
                </div>
                <div class="nev-option features">
                    <div class="option-icon"><i class="i fa-solid fa-wand-magic-sparkles"></i></div>
                    <div class="option-title">Features</div>
                </div>
                <div class="nev-option ftc">
                    <div class="option-icon"><i class="i fa-solid fa-box-archive"></i></div>
                    <div class="option-title">Form, Table and Charts</div>
                </div>
                <div class="nev-option aw">
                    <div class="option-icon"><i class="i fa-solid fa-soap"></i></div>
                    <div class="option-title">Apps and Widgets</div>
                </div>
                <div class="nev-option authentication">
                    <div class="option-icon"><i class="i fa-solid fa-circle-check"></i></div>
                    <div class="option-title">Authentication</div>
                </div>
                <div class="nev-option miscellaneous">
                    <div class="option-icon"><i class="i fa-solid fa-circle-exclamation"></i></div>
                    <div class="option-title">Miscellaneous</div>
                </div>
            </div>
        </div>
    </div>
    <div class="universe">
        <div class="top-bar">
            <div class="top-left">
                <div class="nev-btn selected">
                    <i class="fa-solid fa-bars-staggered"></i>
                </div>
                <div class="page-title"></div>
            </div>
            <div class="top right">
                <div class="time"></div>
                <div class="date"></div>
            </div>
        </div>