@font-face {
  font-family: Custome;
  src: url("font/museo700regular.ttf");
}
* {
  font-family: "Custome";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--background);
}
.up-and-down {
  display: grid;
}
.side-by-side {
  display: grid;
  grid-template-columns: max-content auto;
}

.back {
  width: 100px;
  cursor: pointer;
  background-color: var(--secondary);
  color: var(--canvas);
  padding: 5px 0 5px 15px;
  border-bottom-right-radius: 20px;
  transition: 0.2s all linear;
  position: sticky;
  top: 0;
  left: 0;
}
.back i {
  color: var(--canvas);
  margin-right: 5px;
  transition: 0.2s all linear;
}
.back:hover {
  background-color: var(--primary);
  transition: 0.2s all linear;
}
.back:hover i {
  color: var(--canvas);
  transition: 0.2s all linear;
}
.form {
  display: grid;
  grid-row-gap: 10px;
}
.form * {
  font-size: 15px;
}
input {
  background-color: transparent;
  border: 0;
  width: 100%;
  outline: none;
  padding: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="file"]::file-selector-button {
  font-family: "Custome";
  border-radius: 5px;
  border: 0;
  background-color: var(--canvas);
  color: var(--primary);
  padding: 5px 10px;
  transition: 0.2s all linear;
}
input[type="file"]::file-selector-button:hover {
  background-color: var(--secondary);
  color: var(--canvas);
  transition: 0.2s all linear;
}
[type="file"] {
  padding-top: 10px;
}
textarea {
  background-color: transparent;
  border: 0;
  width: 100%;
  resize: none;
  padding: 13px 10px 0 10px;
  outline: none;
}
::placeholder {
  color: var(--primary);
  opacity: 0.75;
}
select {
  background-color: transparent;
  border: 0;
  width: 100%;
  padding: 4px;
  outline: none;
}
option {
  background-color: var(--canvas);
  color: var(--primary);
}
option:hover {
  background-color: var(--secondary);
  color: var(--canvas);
}
input[type="submit"] {
  padding: 10px;
  background-color: var(--secondary);
  color: var(--canvas);
  cursor: pointer;
  transition: 0.2s all linear;
  border-radius: 10px;
  border: 3px solid transparent;
}
input[type="submit"]:focus {
  border: 3px solid var(--primary);
  transition: 0.2s all linear;
}
input[type="submit"]:hover {
  background-color: var(--primary);
  color: var(--canvas);
  transition: 0.2s all linear;
}
.ii-con {
  background-color: var(--background);
  display: flex;
  border: 3px solid transparent;
  border-radius: 15px;
  transition: 0.2s all linear;
}
.ic {
  border-right: 3px solid transparent;
  transition: 0.2s all linear;
}
.ic i {
  color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
.form-con {
  display: grid;
  grid-template-columns: 40vw 20vw;
  padding: 20px;
  background-color: var(--canvas);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
}
.side-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sf-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary);
  margin-bottom: 10px;
}
.sf-title i {
  color: var(--secondary);
  margin-right: 10px;
}
.sfc a {
  color: var(--sub_canvas);
  text-decoration: underline;
  transition: 0.2s all linear;
}
.sfc a:hover {
  color: var(--secondary);
  transition: 0.2s all linear;
}
.universe {
  min-height: 100vh;
}
.card-box,
.card-box2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.card1 {
  grid-column: 1;
  grid-row: 1;
}

.card2 {
  grid-column: 2;
  grid-row: 1;
}

.card3 {
  grid-column: 3;
  grid-row: 1;
}

.card4 {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.card5 {
  grid-column: 3;
  grid-row: 2;
}

.card {
  background-color: var(--canvas);
  border-radius: 20px;
  height: 60vh;
  margin: 10px;
  text-align: center;
  overflow-x: hidden;
}

.card-backdrop {
  height: 85%;
  width: 100%;
  padding: 15px;
}

.card6 {
  grid-column: 1;
  grid-row: 1;
}

.card7 {
  grid-column: 2;
  grid-row: 1;
}
@media screen and (max-width: 768px) {
  .card-box,
  .card-box2 {
    display: block;
  }
  .card {
    height: 80vh;
    width: auto;
  }
}
.card-title {
  height: 15%;
  border-bottom: 5px solid var(--background);
  color: var(--canvas);
  background-color: var(--sub_canvas);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  z-index: 1;
  position: sticky;
  top: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.full-card {
  width: 100%;
  border-collapse: collapse;
}

.full-card tr {
  text-align: center;
  height: 50px;
  border-bottom: 2px solid var(--background);
}

.img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 4px solid var(--secondary);
  transform: translate(0, 4%);
}

.image {
  width: 50px;
}

.operation1,
.operation2,
.sub-operation1,
.sub-operation2 {
  width: 60px;
}

.title {
  text-wrap: nowrap;
  color: var(--sub_canvas);
  font-size: normal;
}

.sub-title {
  color: var(--secondary);
  font-size: small;
}

.hear {
  width: 150px;
  padding-left: 20px;
  padding-right: 20px;
}

.backfill {
  background-color: var(--secondary);
  color: var(--canvas);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-wrap: nowrap;
}

.op {
  background-color: var(--tertiary);
  height: 30px;
  width: 30px;
  border-radius: 5px;
  transition: 0.2s all linear;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

i {
  color: var(--primary);
}

.sub-table {
  border-collapse: collapse;
  width: 100%;
}

.sub-table tr {
  height: 50px;
  border-bottom: 2px solid var(--background);
}

.sop {
  background-color: var(--tertiary);
  height: 30px;
  width: 30px;
  border-radius: 5px;
  transition: 0.2s all linear;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.sub-operation {
  width: 40px;
}

.radio {
  width: 17px;
  height: 17px;
  appearance: none;
  border-radius: 50%;
  border: 2px solid var(--secondary);
  transition: 0.2s all linear;
}

/* .sub-table tr:hover .radio {
    border: 6px solid var(--color2);
} */
.radio:checked {
  border: 6px solid var(--primary);
}

.footer {
  position: relative;
  z-index: 3;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--canvas);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 50px;
  font-weight: 900;
  border-top: 5px solid var(--sub_canvas);
}
.op:hover,
.sop:hover {
  background-color: var(--primary);
  transition: 0.2s all linear;
  cursor: pointer;
  color: var(--canvas);
}

.op:hover i,
.sop:hover i {
  color: var(--canvas);
  transition: 0.2s all linear;
}

.nev {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  padding-top: 6px;
  background-color: var(--canvas);
  text-wrap: nowrap;
  overflow: scroll;
}

.nev-sec {
  justify-content: center;
  display: flex;
}

.nev-sec > div {
  margin-left: 5px;
  margin-right: 5px;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.logo-img {
  width: 60px;
  height: 60px;
}

.web-name {
  display: none;
  font-size: 20px;
  font-weight: 900;
  color: var(--secondary);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.exception {
  display: grid;
}

.exception > div {
  text-align: center;
}

.dev-img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 4px solid var(--secondary);
}
.dev-name {
  font-size: 20px;
  font-weight: 900;
  color: var(--primary);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nev-icon > .i {
  padding: 8px;
  margin: 9px;
  color: var(--primary);
  background-color: var(--background);
  border-radius: 20px;
  transition: 0.2s all linear;
}

.nev-icon > .i:hover {
  transition: 0.2s all linear;
  background-color: var(--secondary);
  color: var(--canvas);
  cursor: pointer;
}

.nev-secv > div {
  width: 100%;
  display: flex;
  overflow: scroll;
}

.nev-option > div {
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.nev-option {
  color: var(--primary);
  cursor: pointer;
  transition: 0.2s all linear;
}
.nev-option i {
  transition: 0.2s all linear;
}
.nev-option:hover {
  background-color: var(--primary);
  color: var(--canvas);
  transition: 0.2s all linear;
}

.nev-option:hover i {
  color: var(--canvas);
  transition: 0.2s all linear;
}

.div {
  margin: 5px 0 5px 0;
  justify-content: center;
  font-size: 12px;
  color: var(--secondary);
  transition: none;
  cursor: default;
}

.div:hover {
  background-color: var(--canvas);
  color: var(--secondary);
  transition: none;
}

.top-bar {
  z-index: 3;
  padding: 10px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--background);
}

.top-bar > div {
  position: sticky;
  top: 0;
}

.page-title {
  font-size: 25px;
  color: var(--sub_canvas);
  padding-left: 25px;
}
.time {
  font-size: 20px;
  color: var(--sub_canvas);
  text-align: right;
}
.date {
  font-size: 15px;
  color: var(--sub_canvas);
  text-align: right;
}
.top-left,
.top-right {
  display: flex;
  align-items: center;
}
.nev-btn > i {
  color: var(--primary);
}

.nev-btn {
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 12px;
  border-radius: 10px;
  transition: 0.2s all linear;
}

.nev-btn:hover {
  background-color: var(--secondary);
  transition: 0.2s all linear;
  cursor: pointer;
}

.nev-btn:hover i {
  color: var(--canvas);
  transition: 0.2s all linear;
}

.selected {
  background-color: var(--secondary);
  color: var(--canvas);
}
.selected i {
  color: var(--canvas);
}
.fixtoolbar {
  z-index: 2;
  position: fixed;
  top: 60%;
  left: 100%;
  background-color: var(--primary);
  border-radius: 10px;
  transform: translate(-120%, 0%);
  transition: 0.2s all linear;
  opacity: 0.7;
}

.chat {
  z-index: 2;
  position: fixed;
  top: 100%;
  left: 100%;
  background-color: var(--primary);
  border-radius: 10px;
  transform: translate(-120%, -120%);
  opacity: 0.7;
  transition: 0.2s all linear;
}

.fixtoolbar > div,
.chat > div {
  height: 30px;
  width: 30px;
  margin: 5px;
  background-color: var(--tertiary);
  border-radius: 7px;
  transition: 0.2s all linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixtoolbar > div:hover,
.chat > div:hover {
  background-color: var(--secondary);
  cursor: pointer;
  transition: 0.2s all linear;
  opacity: 1;
}

.fixtoolbar > div:hover i,
.chat > div:hover i {
  color: var(--canvas);
  transition: 0.2s all linear;
  opacity: 1;
}

.fixtoolbar > div > i {
  color: var(--primary);
  transition: 0.2s all linear;
}

.fixtoolbar:hover,
.chat:hover {
  opacity: 1;
  transition: 0.2s all linear;
}

.chat > div > i {
  color: var(--primary);
  transition: 0.2s all linear;
}

.scroll-top {
  text-align: center;
  z-index: 4;
  position: fixed;
  top: 100%;
  left: 0;
  transform: translate(0, -120%);
}

.scroll-top > div {
  height: 30px;
  width: 30px;
  margin: 5px;
  background-color: var(--tertiary);
  border-radius: 7px;
  transition: 0.2s all linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-top > div i {
  transition: 0.2s all linear;
}
.scroll-top > div:hover {
  background-color: var(--secondary);
  cursor: pointer;
  transition: 0.2s all linear;
}

.scroll-top > div:hover i {
  color: var(--canvas);
  transition: 0.2s all linear;
}

/* Other pages */
.appointments-space .card,
.cases-space .card,
.casesdet-space .card,
.attorney-space .card {
  height: 79vh;
}
.appointments-space .card-title,
.cases-space .card-title,
.casesdet-space .card-title,
.attorney-space .card-title {
  height: 12%;
}
.active-print .non-print {
  display: none;
}
.active-print .card-title {
  height: 70px;
}
.active-print .card {
  height: 100vh;
  width: 100vw;
  border-radius: 0;
  margin: 0;
}
.cd-content {
  display: flex;
  flex-wrap: wrap;
}
.cic {
  background-color: var(--background);
  margin: 8px;
  border-radius: 10px;
  flex-grow: 1;
  flex-basis: 200px;
  padding: 15px;
}
.casesdet-space .actions {
  display: flex;
  margin: 10px;
  justify-content: space-between;
}
.casesdet-space .operation2 {
  width: auto;
  padding: 20px;
}
.casesdet-space .op {
  width: 100px;
}
.casesdet-space .op i {
  margin-right: 5px;
  transition: 0.2s all linear;
}
.casesdet-space .description .title {
  text-wrap: wrap;
}
