<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Case</title>
</head>

<body>
    <form action="/api/cases" method="post" name="addcases" id="addcases">
        <input type="text" name="name" placeholder="Client name">
        <input type="text" name="email" placeholder="Client email">
        <input type="text" name="attorney" placeholder="Attorney assigned">
        <input type="text" name="type" placeholder="Case type">
        <select name="status">
            <option selected disabled hidden>Select status</option>
            <option value="win">Win</option>
            <option value="lost">Lost</option>
            <option value="declined">Declined</option>
            <option value="ongoing">On going</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
<script src="../js/script.js"></script>
</html>