<%- include('include/header') %>

    <form action="/api/users" method="post" name="signup" id="signup" enctype="multipart/form-data">
        <input type="text" name="name" id="name" placeholder="Name" required>
        <input type="text" name="email" id="email" placeholder="Email" required>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <input type="number" name="phone1" id="phone" placeholder="Phone" required>
        <input type="number" name="phone2" id="phone" placeholder="Phone">
        <textarea name="description" id="description" placeholder="Description"></textarea>
        <select name="role">
            <option selected disabled hidden>Select role</option>
            <option value="judge">Judge</option>
            <option value="lawyer">Lawyer</option>
            <option value="user">User</option>
        </select>
        <input type="file" name="pfp" id="pfp">
        <input type="submit" value="Submit">
    </form>

    <%- include('include/footer') %>